torch
torchvision
numpy
Cmake
matplotlib
svgwrite
cairosvg
IPython
six>=1.12.0
tensorflow
tensorboardX
timm
pillow
svglib
tqdm
jupyter
scikit-image
pandas
networkx
moviepy
numba
scikit-learn
umap-learn
umap-learn[plot]
shapely
kivy